body {
  font-family: monospace;
  /*background-color: rgba(0,200,255,0.5);*/
  /*background-image: url */
  opacity: 0.5;
  /* #00c8ff // hsl(192,100%,50%)*/
  color: blue;
  text-align: center;
}
h1 {
  background-color: dodgerblue:
  /*color:* white;  /* Al comentar esta instruccion, pondra el color del body*/
}
p {
  background-color: slateblue;
  color: purple;
  border: 5px groove red;
  border-radius: 25px;
  text-align: left;
}
.par {
  font-style: italic;
  font-weight: bold;

}
p.par{
  text-align: right;
  border: 5px dotted violet;
  color: yellow;
}
